html, body {
  background-color: #111;
  background-image: linear-gradient(45deg, #111, #112);
  color: #555;
  height: 100%;
  font-size: 1vw;
  font-family: Verdana;
  margin: auto;
  padding: 1%;
  transition: 1s;
}

.main {
  background-color: #112;
  border: solid 1px #222;
  border-radius: 10px;
  box-shadow: 6px 6px 9px #000;
  height: calc(100% - 60px);
  width: calc(100% - 60px);
  padding: 10px;
  position: absolute;
  top: 20px;
  left: 20px;
  transition: 1s;
}

.main:hover {
  background-color: #113;
}

